.card_heading {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}
.super_hit{
  background-color: greenyellow;
  color: black;
  padding: 1px  5px;
  border-radius: 8px;
}
.average{
  background-color: rgb(245, 233, 2);
  color: black;
  padding: 1px 5px;
  border-radius: 8px;
}
.netflix_card {
  
padding-bottom: 2px;
  border-radius: 0px;
  background-color: #ffffff;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 2px;
  height: 450px;
  width: 290px; /* Fixed width for layout consistency */
  align-items: center;
  justify-content: flex-start;
  overflow: hidden;
  box-sizing: border-box;
  margin: 10px 0px;
}

.netflix_card img {
  width:100%;
  height: 150px;
  /* Ensures aspect ratio and fills the box without distortion */
  
  margin-bottom: 10px;
  display: block; /* Avoids extra space under image */
}


.netflix_card h3,
.netflix_card p {
  margin: 4px 0;
  color: #333;
  font-size: 12px;
  width: 100%;
  text-align: left;
  
  padding: 5px;
  
}

.netflix_card a {
  margin-top: auto; /* Push button to bottom */
  width: 100%;
  text-align: center;
}

/* .netflix_card a button {
  padding: 6px 12px;
  background-color: #76d4ff;
  color: #000;
  border: none;
  border-radius: 0px;
  font-weight: 600;
  cursor: pointer;
  transition: background-color 0.3s ease;
} */

.netflix_card a button:hover {
  background-color: #58c8f0;
}
