@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: #FFF7F3;
 
}
/* Minimal Material Scrollbar Style */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* Tailwind gray-400 */
  border-radius: 8px;
  transition: background-color 0.3s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #6b7280; /* Tailwind gray-500 */
}
