/* App.css */

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #f0f4ff, #d4f1f4);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.main {
  background-color: white;
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 400px;
}

h1 {
  margin-bottom: 10px;
  font-size: 24px;
  color: #333;
    text-align: center;
}

h3 {
  margin: 15px 0;
  color: #555;
    text-align: center;
}

button {
  padding: 10px 20px;
  margin-top: 10px;
  background-color: #4e89ff;
  border: none;
  color: white;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #3567e0;
}

input {
  margin-top: 15px;
  padding: 10px;
  width: 90%;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
  transition: border-color 0.3s ease;
}

input:focus {
  border-color: #4e89ff;
}
