@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Playwrite+IE+Guides&family=Playwrite+IN:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: poppins;
}

.Form_container {
  width: 420px;
  margin: 8px auto;
  padding: 30px 30px;
  background-color: #121212; /* deep black */
  border-radius: 14px;

  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #ddd; /* light gray text */
}

.Form_container h1 {
  text-align: center;
  color: #bb86fc; /* pastel purple */
  margin-bottom: 10px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.Form_container h4 {
  text-align: center;
  color: #a58de5; /* soft lighter purple */
  margin-bottom: 10px;
  font-weight: 400;
}

.Form_container form {
  display: flex;
  flex-direction: column;
}

.Form_container label {
  margin-bottom: 4px;
  font-weight: 600;
  color: #ccc;
}

.Form_container input {
  padding: 12px;
  margin-bottom: 20px;
  border: 1.8px solid #333;
  border-radius: 10px;
  font-size: 16px;
  background-color: #1f1f1f; /* dark input background */
  color: #eee;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.Form_container input::placeholder {
  color: #666;
}

.Form_container input:focus {
  outline: none;
  border-color: #bb86fc; /* purple glow */

  background-color: #2c2c2c;
}

.Form_container button {
  padding: 14px;
  border: none;
  background: linear-gradient(45deg, #7f00ff, #e100ff);
  color: white;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
}
